{% extends 'base.html' %}
{% block title %} c0nrad's c0rner {% endblock %}

{% block content %}

<div class="container">
  <div class="hero-unit">
    <h2> About Me </h2>
    <span class="side">
      <img src="/media/me.jpeg" alt="Me!">
    </span>
    Well thanks for showing an interest in me!
    <br /> <br /> 
    My name is actually Stuart Larsen, but people generally either call me Princess or meow at me, so I don't hear my name too often.
    <br /> <br /> 
    I've been 1337h4x0ring since I was a wee child. I started out programming my Ti-83 to cheat on math/science exams back in middle school and have been cheating (and sometimes programming) ever since!
    <br /> <br /> 
    I started out learning FORTRAN (that was a mistake) and moved to C/C++, mostly messing around with terminal games (RPGs, pong, astroids, stuff like that). 
    <br /> <br /> 
    In high school I got a job working at the <a href="http://solar-heliospheric.engin.umich.edu/"> Solar and Helioshperic Research Group </a> (SHRG). Which I greatly enjoyed. During this time I learned how to use C++/Qt pretty well. But I also worked on setting up web servers, writing simple web apps, decifering 80_86x satalite flight code, and writing data and algorithmic anaylisis <a href="http://solar-heliospheric.engin.umich.edu/messenger/hkreports.php"> libraries </a>. 
    <br /> <br /> 
    In Fall 2010 I started going to Michigan Technological University with Electrical and Computer Engineering. Turns out Electrical Engineering is pretty hard. I was chess club presient for a bit, I learned and then taught swing dance, I participate (and sometimes win) programming competitions, and I'm also in ROTC.
    <br /> <br /> 
    I left the SHRG job in the summer of 2011 and did a bunch of independent programming for awhile. Android Dev, embedded stuff (MSP430, Adrduino, PICs) and learned some new languages (python, Haskell, lisp..).
    <br /> <br />
    For Fall of 2012 I was accepted into a Cyber Engineering Program at Syracuse University where I learned principals of security and assurance. I also interned at Serco doing mission assurance work in cloud computing on Fridays. Learning how to 1337h4x0rz and such.
    <br /> <br/>
    Since then I've returned back to Michigan Technological Unversity and got myself a raspberry pi. I pretty much sleep with it next to my bed.
    <br /> <br />
    I recently accepted a job at <a href="http://www.fogcreek.com/"> Fog Creek Software</a> for the summer of 2013. I don't know what I'll be doing, but I suspect some sort of web/mobile application development.
    <br /> <br />
    Thanks for reading!
    </br>
    c0nrad
  </div>
</div>
{% endblock %}
