{% extends 'base.html' %}
{% block title %} c0nrad's c0rner {% endblock %}

{% block content %}


    <div class="container">

      <div class="hero-unit">

Online I go by c0nrad, but irl my name is Stuart Larsen. I enjoy bad jokes (answer), and making cat noises. I'm currently a student a Michigan Technological Unversity, MI, with only two years left at that hellhole, I mean, wonderful institution. When not making cat noises or bad jokes, I enjoy long walks on the beach, pena colatas, and hot tub spas, and periodicaly programming.
</div>
</div>
{% endblock %}
