{% extends 'base.html' %}
{% block title %} c0nrad's c0rner{% endblock %}

{% block content %}


<div class="container-fluid">    

  <div class="row-fluid">

    <!-- MAIN BAR -->
    <div class="span9">
      {% if posts %}
      {% for post in posts %}
      <div class="hero-unit">
        <h2> {{post.category}}: <a href="{{post.get_absolute_url }}"> {{post.title}} </a> </h2>
        {{ post.body|safe }}

        <span class="side"> <small> Questions or comments on this post? Please, <a href="contactMe.html"> Contact Me</a>. I'd love to hear from you.</small> </span>
      </div>
      {% endfor %}

      {% else %}
      <p>There are no posts.</p>
      {% endif %}
    </div>



    <!-- SIDE BAR -->
    <div class="span3">
      <div class="hero-unit">

    
    <h2>Categories</h2>
         <div class="accordion" id="accordion2">
           {% for categoryName, blogs in categories %}
          {% if blogs %}

              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse{{forloop.counter}}">
                {{categoryName}}
              </a>

            <div id="collapse{{forloop.counter}}" class="accordion-body collapse">
              <div class="accordion-inner">
                {% for post in blogs %}
                <small> <a href="{{post.get_absolute_url }}"> {{post.title}} </a> </small> <br />
                {% endfor %}
              </div>
            </div>

          {% endif %}
          {% endfor %}
         </div>
      </div>

      <div class="hero-unit">
        <h2> Archives</h2>
        <a> March 2012 </a>
      </div>

    </div>                

  </div>
  {% endblock %}


