
{% extends 'base.html' %}
{% block title %} c0nrad's c0rner{% endblock %}

{% block content %}

<style type="text/css">
  div.shiftDown {
    margin-top:3px;  
  }
</style>


<div class="container-fluid">    

  <div class="row-fluid">

    <!-- MAIN BAR -->
    <div class="span9">
      {% if posts %}
      {% for post in posts %}
      <div class="hero-unit">
        <h2 style="display:inline"> {{post.category}}: <a href="{{post.get_absolute_url }}"> {{post.title}} {% include "googlePlusOne.html" with url=post.get_absolute_url %} </a> </h2>
        <small> <div class="date" style="align:right; float:right; display:inline; margin-top:7px;"> {{ post.posted }} </div> </small>
        <br /> <br />
        {{ post.body|safe }}

        <span class="side"> <small> Questions or comments on this post? Please, <a href="contactMe.html"> Contact Me</a>. I'd love to hear from you.</small> 
      </span>

      </div>
      {% endfor %}

      {% else %}
      <p>There are no posts.</p>
      {% endif %}

      <div class="pagination"> <center>
        <ul>
        {% for x in numberOfPages %}
        <li> <a href="/page/{{x}}">{{x}}</a> </li>
        {% endfor %}
      </ul>
        </center>
      </div>
    </div>

    <!-- SIDE BAR -->
    <div class="span3">

      <div class="hero-unit">
          <h2> Ad </h2>
        <script type="text/javascript"><!--
          google_ad_client = "ca-pub-6591355363097538";
            /* homepage */
          google_ad_slot = "5809215606";
          google_ad_width = 300;
          google_ad_height = 250;
          //-->
          </script>
          <script type="text/javascript"
          src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
          </script>
      </div>

      <div class="hero-unit">
        <h2>Categories</h2>
        <div class="accordion" id="accordion2">
          {% for categoryName, blogs in categories.items %}
          {% if blogs %}

          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse{{forloop.counter}}">
            {{categoryName}}
          </a>

          <div id="collapse{{forloop.counter}}" class="accordion-body collapse">
            <div class="accordion-inner">
              {% for post in blogs %}
              <small> <a href="{{post.get_absolute_url }}"> {{post.title}} </a> </small> <br />
              {% endfor %}
            </div>
          </div>

          {% endif %}
          {% endfor %}
        </div>
      </div>

      <div class="hero-unit">
        <h2> Archives</h2>
        <a> March 2012 </a>
      </div>

    </div>                

  </div>

  {% endblock %}


